<!DOCTYPE html>
<html>
<head>
  <title>Quiz Website</title>
</head>
<body>
  <h1>Welcome to the Quiz Website</h1>
  <p>Take the quiz by clicking the button below:</p>
  <a href="/quiz">Start Quiz</a>
</body>
</html>
